body {
    padding: 0;
    margin: 0;
    font: normal 1.2em 'PT Serif' serif;
    line-height: 1.5em;
}

header, section, footer {
    width: 36.em
}

header {
    float: left;
}

header, nav, section, article, aside, footer {
	display: block;
}

p, ul, ol, dl, blockquote, pre {
    margin: 0 1em 1em 0;
}

ul { margin: 0; }

#footer {
    text-align: center;
    border-top: 1px solid #b5cce3;
    margin: 2em auto 0;
    font-size: 0.7em;
}

#site {
    margin: 0.5em auto;
    width: 36em;
    position: relative;
}

#header {
    padding: 0;
    margin: 0;
    margin-top: 1.0em;
    text-align:center;
    float: left;
}

#header a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#header h1 {
    padding-left: 1em;
    margin: 0;
}


.context-nav { right:0; }

#sitenav {
    float: right;
    text-align: center;
    padding-bottom: 0.2em;
}

#sitenav ul { list-style-type: none; }

#sitenav li {
    display: inline;
    margin-left: .2em;
}

#sitenav a {
    text-decoration: none;
    padding: 0.2em;
}

#sitenav .selected a {
    background-color: #4d6680;
    color: #b5cce3;
}

#content-header{
    padding-bottom:.5em;
}

.group::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.post-date{
    float:right;
    font-style:italic;
    font-size:.8em;    
}
