<!DOCTYPE html>
<html>
  <head>
    {% block css %}
    <link rel="stylesheet" href="/media/css/craftify.css" type="text/css" media="screen" charset="utf-8" />
    {% endblock %}
  </head>
  <body>
    <header>
      <a href="/">Craftify.nl</a>
    </header>

    <content>
      {% with page.node.ancestors|last as parent_node %}
        {% with parent_node.url as parent_url %}
          {% block content %}{% endblock %}
        {% endwith %}
      {% endwith %}
    </content>

    <footer>
      <p>
        I'm also on
        <a href="http://github.com/pjvds>Github</a>,
        <a href="http://twitter.com/pjvds>Twitter</a>
        and
        <a href="http://www.linkedin.com/profile/view?id=8975319">Linkedin</a>
      </p>
    </footer>
    </footer>
  </body>
</html>
